<%- include('./header') %>
<style>
  body{
    margin: 0%;
    width: 100%;
  }
  a {
    padding: 3px;
    color: black;
    text-decoration: none;
  }
  .mycart{
    display: flex; 
    flex-direction: row;
    margin-bottom: 0%;
  }
  table{
    padding: auto;
  }
  .product-image{
    width: 40%;
    padding-left:150px;
    padding-right: 0%;
    padding-top:5%;
  }
  .product-image img{
    width: 300px;
    height: 300px;
  }
  .product-detail{
    padding-top:5%;
  }
  .product-detail table{
    padding: 0%;
  }
  .product-detail h1{
      padding: 10px;
      text-align: left;
      padding-right: 150px;
  }
  .product-detail th,td,h1{
    text-align: left;
  }
  .orderButton{
    border-radius: 100%;
    border: none;
    font-size: 15px;
    height: 20px;
    width: 20px;
    background-color: black;color: white;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* -webkit-appearance: none; */
    margin: 0;
  }
  .cartTotal{
    padding-right: 150px;
  }
  .placeOrder{
    display: block;
    border-radius: 10px;
    border: none;
    align-content: center;
    text-align: center;
    font-size: 30px;
    height: 50px;
    width: inherit;
    background-color: #5800f4;
    color: white;
  }
      
</style>
<body>
    <div style="margin-bottom: 5%;">
      <h1 style="text-align: center;padding-right:0%">Shopping Cart</h1>
      <hr style="width: 90%; border: 2px solid black;">
      <% if (user.cart.length > 0) { 
        var totalMRP = 0;
        var totalDiscount = 0;
        var totalAmount = 0;
      %>
        <% user.cart.forEach((product) => {
          totalMRP += product.price;
          totalDiscount += product.discount;
          totalAmount += product.price - product.discount + 100;
        }) %>
        <% user.cart.sort((a) =>  -a.createdAt) %>
        <% user.cart.forEach((product) => { %>
          <div class="mycart">
            <div class="product-image">                
              <img src="data:image/jpeg;base64,<%= product.image.toString('base64') %>" alt="" />
              <div class="content" style="display: flex; flex-direction: row;">
                <div class="detail">
                  <h3 style="margin-bottom: 0%;"> <%= product.name %></h3>
                </div>
                <div style="height: 20px; align-self: self-end; margin-left: 110px;">
                  <!-- <button class="orderButton">-</button>
                  <input style="text-align: center;" type="number" min="1" max="20">
                  <button class="orderButton">+</button>  -->
                </div>                    
              </div> 
            </div>
            <div class="product-detail">
              <table>
                <tr>
                  <th>MRP</th>
                  <td>₹ <%= product.price %></td>
                </tr>
                <tr>
                  <th>Discount</th>
                  <td>₹ <%= product.discount %></td>
                </tr>
                <tr>
                  <th>Shipping Fee</th>
                  <td>FREE</td>
                </tr>
                <tr>
                  <th>Sub Total</th>
                  <td>₹ <%= product.price - product.discount + 100 %></td>
                </tr>
              </table>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <div style="margin: 4%;">
          <h1>Your Cart is empty.....</h1>
        </div>
      <% } %>
    </div>
    <hr style="width: 90%; border: 2px solid black; font-family:'Times New Roman', Times, serif;">
    <% if (user.cart.length > 0) { %>
      <div class="cartTotal" style="float: right; margin-bottom: 10%; ">
        <h1>Total (<%= user.cart.length %> item<%= user.cart.length > 1 ? 's' : '' %>): ₹ <%= totalAmount %></h1>
        <a href="" class="placeOrder">Place Order</a>
      </div>
    <% } %>
    
        </body>
