<%- include('./header') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div> 
            <img  class="w-full h-96" src="/images/saffron-robes-indian-illustratio.jpg" alt="banner-image" srcset="">
    </div>
    <div class="my-20 mb-0">
        <h1 class="my-10 font-serif text-5xl text-center">Categories</h1>
        <div class="flex flex-wrap content-evenly mx-20">
            <% 
            // Create a Set to store unique categories
            const uniqueCategories = new Set(products.map(product => product.category));
            // Convert the Set to an array for iteration
            const uniqueCategoriesArray = Array.from(uniqueCategories);
            %>
            
            <% uniqueCategoriesArray.forEach(category => { %>
                <% 
                // Filter products by category
                const categoryProducts = products.filter(product => product.category === category);
                // Assuming you want to show one representative product per category
                const representativeProduct = categoryProducts[0];
                %>
                <a class="p-1 text-black no-underline m-auto my-10" href="/products/<%= category %>">
                    <img class="h-72 w-64" src="data:image/jpeg;base64,<%= representativeProduct.image.toString('base64') %>" alt="" srcset="" />
                    <div class="w-60" >
                        <div class="p-3">
                            <h4 class="text-wrap text-center text-lg font-bold" ><%= category %></h4>
                        </div>
                    </div>
                </a>
            <% }) %>
        </div>
    </div>
    
    <div class="m-10">
        <h1 class="my-10 font-serif text-5xl text-center">Products</h1>
        <div class="overflow-x-auto mt-10 flex content-between">
            <% products.slice(0, 5).forEach((products)=> { %>
            <div class="m-5 mb-5 shadow-lg" href="/product/:id">
                <img class="size-64 max-sm:size-44 " src="data:image/jpeg;base64,<%= products.image.toString('base64') %>"alt="" srcset=""/>
                <div>
                    <h4 class="overflow-hidden whitespace-nowrap text-ellipsis max-w-52 font-bold"><%= products.name%></h4>
                    <h4 class="font-bold">₹ <%= products.price%></h4>
                    <div class="text-left m-3 flex justify-between pt-5">
                        <a class=" text-black no-underline text-center p-3 bg-blue-500 border-none rounded-md text-base" href="/addToCart/<%= products._id %>" type="submit"><i class="fa fa-shopping-cart text-lg text-center" >&nbsp;&nbsp;&nbsp;Add to cart</i></a>
                        <i class="fa fa-heart " style="font-size:25px"></i>
                    </div>
                </div>
            </div>
            <% }) %>    
            
        </div>
    </div>
    <div class="w-full mt-4">
        <div class="bg-blue-800 bg-gradient-to-r from-blue-900 to-red-600  my-20 justify-center flex">
            <img class="w-1/2 " src="/images/women-in-saree-cover.jpg" alt="" srcset="">
            <div class="mt-10 text-white">
                <h1 class="font-serif text-5xl text-center" >About Us</h1>
                <p class="p-10 text-base text-center font-serif" >At Vibha Stree, we are passionate about celebrating the rich cultural heritage and timeless beauty of ethnic clothing. Founded with a vision to bring the essence of traditional attire to the modern wardrobe, we offer a wide range of beautifully crafted garments that reflect the vibrant and diverse tapestry of our culture. <br><br>

                Our collection features an exquisite array of sarees, lehengas, kurtas, and more, each piece meticulously designed and crafted by skilled artisans. We believe that every garment tells a story, and our commitment to quality and craftsmanship ensures that you receive nothing but the finest. <br><br>
            </div>
        </div>
    </div>
    <div class="m-10">
        <h1 class="m-10 mt-20 mb-20 font-serif text-5xl text-center">Gallery</h1>
        <div class="flex flex-wrap justify-between">
            <div class="m-5 justify-center">
                <img class="h-64 w-80 rounded-xl" src="/images/default.png" alt="gallery-image" srcset="">
            </div>
            <div class="m-3 justify-center">
                <img class="h-64 w-80 rounded-xl" src="/images/default.png" alt="gallery-image" srcset="">
            </div>
            <div class="m-3 justify-center">
                <img class="h-64 w-80 rounded-xl" src="/images/default.png" alt="gallery-image" srcset="">
            </div>
            <div class="m-3 justify-center">
                <img class="h-64 w-80 rounded-xl" src="/images/default.png" alt="gallery-image" srcset="">
            </div>
        </div>
    </div>
    <div class="my-20 h-3/4  bg-white bg-cover" style="background: url('/images/Reviews-banner.jpg');">
        <div class="mt-20 py-32 px-20 h-full text-wrap flex-wrap float-right w-1/2">
            <h4 class="font-bold text-2xl">Name</h4>
            <p class="font-bold">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque minima ullam excepturi repellat itaque sequi amet dolores, doloremque beatae reprehenderit quis dicta iusto et nisi debitis. Incidunt, quas. Ratione, quia!  
            </p>            
        </div>
    </div>
    <div class="mt-10 ">
        <h1 class="mb-20 font-serif text-5xl text-center flex w-full justify-center">Contact Us</h1>
        <div class="bg-[linear-gradient(90deg,_rgba(238,174,202,1)_0%,_rgba(148,187,233,1)_100%)]
        mt-10 p-10 font-serif justify-center  flex">
            <form class="m-10 w-1/2" action="/contactUs" method="post" >
                <div class="form-group mb-4 ">
                    <label class="block m-2 font-bold text-gray-700" for="name">Name</label>
                    <input class="w-full p-3 border-solid rounded-sm box-border text-base focus:outline-none focus:shadow-xl" type="text" id="name" 
                           name="name" 
                           placeholder="Your Name" required>
                    <span class="text-red-600 text-sm hidden" id="nameError"></span>
                </div>
                <div class="form-group mb-4 ">
                    <label class="block m-2 font-bold text-gray-700" for="email">Email</label>
                    <input class="w-full p-3 border-solid rounded-sm box-border text-base focus:outline-none focus:shadow-xl" type="email" id="email" 
                           name="email" 
                           placeholder="Your Email" required>
                    <span class="text-red-600 text-sm hidden" id="emailError"></span>
                </div>
                <div class="form-group mb-4 ">
                    <label class="block m-2 font-bold text-gray-700" for="phone">Phone</label>
                    <input class="w-full p-3 border-solid rounded-sm box-border text-base focus:outline-none focus:shadow-xl" type="tel" id="phone" 
                           name="phone" 
                           placeholder="Your Phone Number" required>
                    <span class="text-red-600 text-sm hidden" id="phoneError"></span>
                </div>
                <div class="form-group mb-4 ">
                    <label class="block m-2 font-bold text-gray-700" for="message">Message</label>
                    <textarea class="resize-y w-full p-3 border-solid rounded-sm box-border text-base  focus:outline-none focus:shadow-xl" id="message" 
                              name="message" 
                              placeholder="Your Message" 
                              rows="5" required></textarea>
                    <span class="text-red-600 text-sm hidden" 
                          id="messageError"></span>
                </div>
                <button type="submit" 
                        class="bg-blue-500 text-white border-none rounded text-xl cursor-pointer w-full p-3">
                  Send Message
                </button>
            </form>
        </div>
    </div>
    
</body>
</html>