<%- include('./header') %>
<script src="https://kit.fontawesome.com/474705e991.js" crossorigin="anonymous"></script>

<style>
  .items:hover .cartLike {
    display: flex; 
  }
  .item-detail:hover .nameDisplay{
    box-shadow: 3px 4px 33px rgba(36, 36, 36, 0.2);
  }
</style>
  <body>  
    <div class="flex">
      <div class="font-serif font-bold  bg-gray-300">
        <div class="p-14">
          <b>Sort By</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <select name="sortby" id="sortby">
            <option value="newest">Newest</option>
            <option value="trending">Trending</option>
          </select>
        </div>
        <div class="flex flex-col p-14">
          <a class="p-1 text-black no-underline" id="allCollection">All Collection</a>
          <a class="p-1 text-black no-underline" id="newCollection">New Collection</a>
          <a class="p-1 text-black no-underline" >Discounted Collection</a>
        </div>
        <div class="p-14 flex flex-col">
          <a class="p-1 text-black no-underline"  href="">Filter By:</a><br />
          <a class="p-1 text-black no-underline"  href="">Availability</a>
          <a class="p-1 text-black no-underline"  href="">Discount</a>
        </div>
      </div>
      <div class="font-custom-sans font-bold p-10 flex flex-row flex-wrap w-full">
        <% products.forEach((product) => { %>
          <div class="items transition duration-300 w-1/5 max-h-85 m-0 p-5  relative shadow-lg">
              <div class="bg-white m-0 relative">
                  <img class="h-64 w-36" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>" alt="" style="width: 100%" />
                  <div class="cartLike hidden h-16 w-full bg-white  absolute  -bottom-1 z-2 text-center justify-between items-center">
                    <a class="addCart text-right h-10 p-2 w-3 font-custom-sans bg-blue-500 border-none rounded-md text-sm content-around" href="/addToCart/<%= product._id %>" type="submit"><i class="fa fa-shopping-cart text-base text-center">&nbsp;&nbsp;&nbsp;Add to cart</i></a>
                    <a href=""><i class="fa fa-heart " style="font-size:25px"></i></a>
    
                  </div>
                  <div class="relative z-10 bg-white p-2">
                      <h5 class="overflow-hidden whitespace-nowrap text-ellipsis max-w-52" style="margin-bottom: 0%;"><%= product.name %></h5>
                      <h5 style="margin: 0%;">₹ <%= product.price %></h5>
                  </div>
              </div>
          </div>
      <% }) %> 
      </div>
    </div>
  </body>
  <script>
    // document.getElementById("newCollection").addEventListener("click", function(event) {
    //     event.preventDefault(); // Prevent the default link behavior

    //     // Fetch the products for the "New Collection"
    //     fetch('/products?collection=newCollection')
    //         .then(response => response.text()) // Assuming your server renders an HTML template
    //         .then(html => {
    //             // Replace the product section with the new HTML
    //             document.querySelector('.products').innerHTML = html;
    //         })
    //         .catch(error => {
    //             console.error('Error fetching new collection:', error);
    //         });
    // });

    
//    function addToCart(productId) {
//     $.ajax({
//         type: "POST",
//         url: `/addToCart/${productId}`, // Correct URL format
//         data: JSON.stringify({ productId: productId }),
//         contentType: "application/json",
//         dataType: "json",
//         encode: true,
//     }).done(function (data) {
//         // Handle success, e.g., change button style
//         var addToCart = document.getElementById('addToCart' + productId);
//         addToCart.classList.toggle('clicked');
//     }).fail(function (error) {
//         alert("Failed to add to cart");
//     });
// }

  </script>
