<%- include('./header') %>
<script src="https://kit.fontawesome.com/474705e991.js" crossorigin="anonymous"></script>

    <style>
      body {
        margin: 0px;
      }
      .container{
        display: flex;
      }
      .sidebar {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        background-color: rgb(236, 232, 232);
      }
      .sortBy {
        padding: 50px;
      }
      .collection {
        display: flex;
        flex-direction: column;
        padding: 50px;
      }
      a {
        padding: 3px;
        color: black;
        text-decoration: none;
      }
      .filter {
        padding: 50px;
        display: flex;
        flex-direction: column;
      }
      .items {
        transition: 0.3s;
        width: 21%;
        max-height: 300px;
        margin: 0%;
        padding: 20px 31px 50px 20px;
        position: relative;
      }
      .items:hover .cartLike {
        display: block; /* Shows the cartLike div when items is hovered */
      }
      .product-name{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width:  200px;

      }
      .items .item-detail {
        background-color: white;
        margin: 0% !important;
        position: relative;
      }
      .products {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        padding: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: center; */
        width: 100%;
      }
      .products img{
        width:  150px;
        height: 250px;
      }
      .cartLike{
        display: none; /* Hidden by default */
        height: 50px;
        width: 100%; /* Make the button span the width of the container */
        background-color: white;
        position: absolute;
        bottom: 0; /* Position at the bottom of the parent container */
        z-index: 2; /* Ensures the button is above other elements */
        text-align: center; /* Center the text inside the button */
      }
      .item-detail:hover .nameDisplay{
        box-shadow: 3px 4px 33px rgba(36, 36, 36, 0.2);
      }
      .cartLike button{
        border: 1px solid hotpink;
        padding: 10px;
      }
      .items:hover .cartLike {
        /* position:relative; */
        display: block; /*Shows the cartLike div when items is hovered */
      }
      .nameDisplay {
        position: relative;
        z-index: 1; 
        background-color: white; 
        padding: 10px;
      }#addToCart {
        background-color: blue; /* Default background color */
        color: white; /* Default text color */
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
      }
      .clicked {
        background-color: green;
        color: white;
        border: 1px solid white;
      }
      .addCart{
        text-align-last: center;
        padding: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: rgb(0, 115, 255);
        border: none;
        border-radius: 5px;
        font-size: 10px;             
      }
    </style>
  <body>  
    <div class="container">
      <div class="sidebar">
        <div class="sortBy">
          <b>Sort By</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <select name="sortby" id="sortby">
            <option value="newest">Newest</option>
            <option value="trending">Trending</option>
          </select>
        </div>
        <div class="collection">
          <a id="allCollection">All Collection</a>
          <a id="newCollection">New Collection</a>
          <a >Discounted Collection</a>
        </div>
        <div class="filter">
          <a href="">Filter By:</a><br />
          <a href="">Availability</a>
          <a href="">Discount</a>
        </div>
      </div>
      <div class="products">
        <% products.forEach((product) => { %>
          <div class="items">
              <div class="item-detail">
                  <img src="data:image/jpeg;base64,<%= product.image.toString('base64') %>" alt="" style="width: 100%" />
                  <div class="cartLike">
                    <a class="addCart" href="/addToCart/<%= product._id %>" type="submit"><i class="fa fa-shopping-cart" style="font-size:15px;text-align: center !important;" >&nbsp;&nbsp;&nbsp;Add to cart</i></a>
    
                  </div>
                  <div class="nameDisplay">
                      <h5 class="product-name" style="margin-bottom: 0%;"><%= product.name %></h5>
                      <h5 style="margin: 0%;">₹ <%= product.price %></h5>
                  </div>
              </div>
          </div>
      <% }) %> 
      </div>
    </div>
  </body>
  <script>
    // document.getElementById("newCollection").addEventListener("click", function(event) {
    //     event.preventDefault(); // Prevent the default link behavior

    //     // Fetch the products for the "New Collection"
    //     fetch('/products?collection=newCollection')
    //         .then(response => response.text()) // Assuming your server renders an HTML template
    //         .then(html => {
    //             // Replace the product section with the new HTML
    //             document.querySelector('.products').innerHTML = html;
    //         })
    //         .catch(error => {
    //             console.error('Error fetching new collection:', error);
    //         });
    // });

    
//    function addToCart(productId) {
//     $.ajax({
//         type: "POST",
//         url: `/addToCart/${productId}`, // Correct URL format
//         data: JSON.stringify({ productId: productId }),
//         contentType: "application/json",
//         dataType: "json",
//         encode: true,
//     }).done(function (data) {
//         // Handle success, e.g., change button style
//         var addToCart = document.getElementById('addToCart' + productId);
//         addToCart.classList.toggle('clicked');
//     }).fail(function (error) {
//         alert("Failed to add to cart");
//     });
// }

  </script>
